/* illustration component */
.illustration {
  padding: 2.5rem 2rem;
  padding-top: 0;
}

.illustration .player {
  max-width: 90%;
}

@media only screen and (max-width: 1023px) {
  .illustration {
    display: none;
  }
}
